<!-- Página de inicio de sesión con correo y contraseña -->
<ion-content  fullscreen class="background">
  <br>

  <ion-card class="cardcontenido">
    <div id="container">

    <ion-card-header>
      <img alt="DUOC UC" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png" />
      <ion-card-title class="ion-text-center texto">Bienvenido al sistema de asistencia</ion-card-title>
    </ion-card-header>
    </div>

  </ion-card>
  <br>


  <ion-card class="cardcontenido">
    <div id="container">

      <ion-card-header >
        
        <ion-input class="texto" type="email" fill="clear" label="Correo" labelPlacement="floating" errorText="Correo invalido" [(ngModel)]="correo" ></ion-input>
        
        <br>

        <ion-input class="texto" type="password" fill="clear" label="Contraseña" labelPlacement="floating" errorText="Contraseña invalida" [(ngModel)]="contrasena" ></ion-input>
        
        <br>

        <ion-button  (click)="iniciarSesion()">Iniciar Sesión</ion-button>

      </ion-card-header>

    </div>
    
  </ion-card>




  <br />

 
<ion-card class="cardcontenido">
<div class="container"> 
  
  <ion-card-header >
    <ion-button  routerLink="/recuperar-contrasenia">Recuperar Contraseña</ion-button>
  </ion-card-header>

</div> 
 </ion-card> 
  
  
  




  
</ion-content>

<ion-footer>
  <div class="container">
    
    <h6   class="ion-text-center" >Genialtech since 2024</h6>
    
  </div>
</ion-footer>